@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: fit-content;
}

.noise {
    background-image: url(/noise.png);
}

.gradual-backdrop-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    backdrop-filter: blur(20px);
    -webkit-mask-image: linear-gradient(black 20%, transparent);
    mask-image: linear-gradient(black 20%, transparent);
    pointer-events: none;
    opacity: 1;
    z-index: -1;
}