@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-ppmontreal);
  --font-mono: var(--font-ppmontreal-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --breakpoint-xs: 480px;
}

:root {
  --background: #ededed;
  --foreground: #202020;
  --accent: #C71D1C;
  --accent-foreground: #C71D1C;;
  --gray-200: #3D3D3D;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--gray-200, currentColor);
  }
}
