@import "tailwindcss";

@theme {
  --font-sans: var(--font-ppmontreal);
  --font-mono: var(--font-ppmontreal-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --breakpoint-xs: 480px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}