---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
    <main class="grid grid-cols-2 h-screen">
        <div id="sidebar" class="border-r">
            <div
                id="sidebar-top"
                class="flex items-center justify-center border-b h-1/3"
            >
                <div id="title" class="text-left">
                    <h1 class="text-sm font-bold">Timo Weiss</h1>
                    <p class="text-sm">Software Developer at MAGNA</p>
                </div>
            </div>

            <ul
                id="navigation"
                class="font-bold text-sm text-center flex flex-col justify-between h-2/3 py-12"
            >
                <li>About me</li>
                <li>Projects</li>
                <li>Links</li>
            </ul>
        </div>
        <div id="content" class=""></div>
    </main>
</Layout>
