---
import Layout from '../../layouts/Layout.astro';
---

<Layout
    title="Screen Protector Application Aid - Timo Weiss"
    heroTitle="Screen Protector Application Aid"
    heroSubtitle="for iPhone 15 Pro and iPhone 15 Pro Max"
>
    <div id="info" class="flex flex-row w-full h-fit">
        <div
            id="info-sidebar"
            class="border-r w-[35%] flex items-start justify-center pt-12"
        >
            <h2 class="font-medium w-[50%]">Info</h2>
        </div>
        <div
            id="info-content"
            class="w-[65%] px-28 flex items-start justify-center pt-12 pb-12"
        >
            <p class="">
                The Screen Protector Application Aid is a tool to help you apply
                a screen protector to your iPhone 15 Pro or iPhone 15 Pro Max.
                It is designed to be easily 3D printed and makes the alignment
                process a lot easier. Just clip it on your phone and the screen
                protector will be perfectly aligned.
            </p>
        </div>
    </div>
    <div id="pictures" class="flex flex-row w-full h-fit">
        <div
            id="pictures-sidebar"
            class="border-r w-[35%] flex items-start justify-center pt-12"
        >
            <h2 class="font-medium w-[50%]">Pictures</h2>
        </div>
        <div
            id="pictures-content"
            class="w-[65%] px-28 flex flex-col space-y-12 items-start justify-center pt-12 pb-12"
        >
            <img
                src="/images/iPhoneScreenProtectorAid-5.webp"
                alt="iPhone Screen Protector Aid"
                class="w-full shadow-[rgba(0,_0,_0,_0.24)_0px_2px_4px]"
            />
            <img
                src="/images/iPhoneScreenProtectorAid-6.webp"
                alt="iPhone Screen Protector Aid"
                class="w-full shadow-[rgba(0,_0,_0,_0.24)_0px_2px_4px]"
            />
            <img
                src="/images/iPhoneScreenProtectorAid-7.webp"
                alt="iPhone Screen Protector Aid"
                class="w-full shadow-[rgba(0,_0,_0,_0.24)_0px_2px_4px]"
            />
        </div>
    </div>
    <div id="download" class="flex flex-row w-full h-fit">
        <div
            id="download-sidebar"
            class="border-r w-[35%] flex items-start justify-center pt-12"
        >
            <h2 class="font-medium w-[50%]">Download</h2>
        </div>
        <div
            id="download-content"
            class="w-[65%] px-28 flex items-start justify-center pt-12 pb-12"
        >
            <p class="">
                You can download the files for your 3D Printer for free at <a
                    href="https://www.printables.com/model/676708-iphone-15-pro-and-pro-max-screen-protector-applika"
                    class="hover:text-rose-600"
                    target="_blank">printables.com</a
                >
            </p>
        </div>
    </div>
</Layout>
