---
interface Props {
    title: string;
    heroTitle?: string;
    heroSubtitle?: string;
}

const { title, heroTitle, heroSubtitle } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Software Developer and Maker who focuses on improving
		fundamental aspects of everyday life."
        />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="font-regular">
        <main class="flex flex-col">
            <div id="hero" class="flex flex-row w-full h-[35vh]">
                <div
                    id="hero-sidebar"
                    class="border-r border-b w-[35%] flex items-center justify-center"
                >
                    <a href="/" id="title" class="text-left w-[80%] md:w-[50%]">
                        <h1 class="font-medium text-lg">Timo Weiss</h1>
                        <p class="font-light">Software Developer at Magna</p>
                    </a>
                </div>
                <div
                    id="hero-content"
                    class="w-[65%] px-6 md:px-12 lg:px-28 flex items-start justify-center pt-12 pb-12 flex-col"
                >
                    {
                        heroTitle && (
                            <>
                                <h1 class="font-medium">{heroTitle}</h1>
                                {heroSubtitle && <p class="">{heroSubtitle}</p>}
                            </>
                        )
                    }
                </div>
            </div>
            <slot />
            <footer id="footer" class="flex flex-row w-full h-fit">
                <div
                    id="footer-sidebar"
                    class="border-r border-t w-[35%] flex items-start justify-center pt-12"
                >
                    <a href="/" class="font-medium w-[80%] md:w-[50%]"
                        >Timo Weiss</a
                    >
                </div>

                <div
                    id="footer-content"
                    class="w-[65%] px-28 grid grid-cols-3 gap-5 items-start justify-center pt-12 pb-12"
                >
                    <a href="/" class="hover:font-medium">Home</a>
                </div>
            </footer>
        </main>
    </body>
</html>
<style is:global>
    @font-face {
        font-family: 'PPNeueMontreal';
        src: url('/fonts/PPNeueMontreal-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'PPNeueMontreal';
        src: url('/fonts/PPNeueMontreal-BoldItalic.woff') format('woff');
        font-weight: bold;
        font-style: italic;
        font-display: swap;
    }
    @font-face {
        font-family: 'PPNeueMontreal';
        src: url('/fonts/PPNeueMontreal-Book.woff') format('woff');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'PPNeueMontreal';
        src: url('/fonts/PPNeueMontreal-Italic.woff') format('woff');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }
    @font-face {
        font-family: 'PPNeueMontreal';
        src: url('/fonts/PPNeueMontreal-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'PPNeueMontreal';
        src: url('/fonts/PPNeueMontreal-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'PPNeueMontreal';
        src: url('/fonts/PPNeueMontreal-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'PPNeueMontreal';
        src: url('/fonts/PPNeueMontreal-Thin.woff') format('woff');
        font-weight: 100;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'PPNeueMontreal';
        src: url('/fonts/PPNeueMontreal-ThinItalic.woff') format('woff');
        font-weight: 100;
        font-style: italic;
        font-display: swap;
    }
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
    }
    html {
        font-family: 'PPNeueMontreal', system-ui, sans-serif;
        background: #ffffff;
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }
</style>
